$image-size: 300px;

.profile-photo {
  margin-right: 40px;
  width: $image-size;

  img {
    border-radius: $image-size;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    height: $image-size;
    width: $image-size;
  }
}

@media only screen and (max-width: 679px) {
  .profile-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
}
