@import '../styles/variables';

.content-card-component {
  box-shadow: $box-shadow;

  &:last-child {
    margin-bottom: 0;
  }
}

.image-supported-text-component {
  border: 1px solid $border-grey;
}
