$background-dark: #3c3f43;
$background-light: #f5f7f9;
$background-white: #ffffff;

$font-body: Hind, sans-serif;
$font-headers: Hind, sans-serif;

$text-link: #007acc;
$text-primary: #333333;
$text-white: #ffffff;
