@import '../../styles/variables';

a {
  color: $brand-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  line-height: 1.25em;
  margin: 0;
  padding: 0;
}

.layout {
  color: $text-primary;
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  height: 100%;
  height: 100vh;

  .row {
    margin: 0;
    padding: 0;
    width: 100%;

    .row-content {
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 20px;

      div:last-child p {
        margin-bottom: 0;
      }
    }
  }

  .row__dark {
    background: $brand-dark;
    color: #ffffff;
  }

  .row__footer {
    padding: 40px 0 20px 0;
  }

  .row__header {
    box-shadow: $box-shadow;
    position: fixed;
  }

  .row__light {
    background: #f5f7f9;
    border-bottom: 1px solid #e1e4e8;
  }

  .row__main {
    flex: 1;
    margin-top: 74px;
    padding: 20px 0;
  }

  .row__white {
    background: #ffffff;
  }
}
