.profile-info-list {
	display: inline-block;

	ul {
		list-style-type: none;
		margin: 0 40px 0 0;
		padding-left: 0;

		li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (max-width: 679px) {
	.profile-info-list {
		ul {
			list-style-type: none;
			margin-right: 10px;
		}
	}
}