.blog-post {
  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 15px !important;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  hr {
    margin: 20px 0;
  }

  img {
    max-width: 100%;
  }

  small.date {
    font-style: normal;
    margin-top: 20px;
    opacity: 0.8;
    text-align: left;
  }

  .post-navigation-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
}
