.blog-post {
  h1 {
    font-size: 2.5em;
    line-height: 1.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  hr {
    margin: 20px 0;
  }

  img {
    max-width: 100%;
  }

  small {
    display: block;
    font-style: italic;
    text-align: center;

    &.date {
      font-style: normal;
      margin-top: 20px;
      opacity: 0.8;
      text-align: left;
    }
  }

  .post-navigation-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
  }
}
