@import '../../styles/variables';

footer {
  color: $text-light;
  font-size: 0.9em;
  font-weight: 300;

  a {
    color: $text-white;
    text-decoration: none;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;

      a {
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      li:last-child p {
        margin-bottom: 0;
      }

      p {
        margin-top: 0;
      }
    }
  }

  small {
    display: block;
    font-size: 0.9em;
    text-align: center;
  }

  .footer-column-wrapper {
    display: flex;
    justify-content: space-between;

    .footer-column {
      max-width: 750px;
    }
  }
}
