@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  background: #fcfcfc;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-weight: 300;
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

hr {
  border-color: #e1e2e2;
}

a {
  color: #024e9f;
}
