@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  	font-family: 'Open Sans', sans-serif;
}

main {
	display: flex;
	flex-direction: row;
}

h1, h2 {
	font-weight: 300;
	margin-bottom: 0;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

hr {
	border-color: #E1E2E2;
}

section {
	background: #e6e6e8;
}

footer {
	background: #3B3A3A;
	color: #FFFFFF;
	opacity: 0.6;
	text-align: center;
}
