.social-link-list {
	display: inline-block;
	font-size: 2em;

	ul {
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;

		li {
			display: inline;
			padding: 0 10px;

			&:first-child {
				padding-left: 0;
			}

			a {
				color: #212528;
				opacity: 0.5;

				&:hover {
					opacity: 1.0;
				}
			}
		}
	}
}